@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Sora:wght@400;600;700;800&display=swap');

:root{
    --color-primary: #515151;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    max-width: 90%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

header {
    margin-bottom: 2rem;
}

.menu {
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.right-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.fa-cart-shopping {
    font-size: 4rem;
    color: #8B3DFF;
    cursor: pointer;
}

.menu-line {
    width: 100%;
    border: 1px solid #7A2DE6;
    box-shadow: 0px 5px 15px 0px rgba(122, 45, 230, 1);
}

button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #8B3DFF;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1.5rem;
}

button:hover {
    background-color: #7A2DE6;
}

h2 {
    margin: 2rem 0;
    font-size: 2.4rem;
}

main{
    margin-bottom: 4rem;
}

.formulario {
    width: 80%;
    border: 1px solid #7A2DE6;
    padding: 2rem;
    border-radius: 0.5rem;
}

.cart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5rem;
}

.contenedor-campos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
}

.inputs {
    margin-bottom: 1rem;
    height: 3rem;
}

.total_carrito {
    padding: 2rem;
    border: 1px solid #7A2DE6;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: fit-content;
    min-width: 20rem;
}

.titulo-total{
    font-size: 2.4rem;
    font-weight: bold;
}

.subtotal {
    margin-top: 1.5rem;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr auto;
}

#subtotal{
    font-weight: 400;
}

.total_a-pagar {
    margin-top: 1.5rem;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr auto;
}

.total_a-pagar p,
.subtotal p {
    font-size: 1.6rem;
}

@media (max-width: 1030px) {

    .logo {
        width: 10rem;
    }

    h2 {
        font-size: 2rem;
    }

    button {
        width: 100%;
        font-size: 1.4rem;
    }

    .total_a-pagar p,
    .subtotal p {
        font-size: 1.4rem;
    }

    .total_carrito {
        margin: 2rem auto;
        width: 90%;
    }

    .continuar-comprando{
        width: auto;
    }

    .cart-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .formulario {
        width: 95%;
    }
}
