{% load static %} 
<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta charset="UTF-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <title>{% block title %}titulo{% endblock %}</title> 
    {% block extra_styles %} 
    <link rel="stylesheet" href="{% static 'estilos.css' %}" /> 
    {% endblock %} 
    <link rel="icon" href="{% static 'logo/logo.png' %}" type="icono" /> 
  </head> 
  <body> 
    <header> 
      <nav class="menu"> 
        <div class="left-menu"> 
          <a href="{% url 'vista_inicio' %}"> 
            <img src="{% static 'logo/logo.png' %}" alt="" class="logo" /> 
          </a> 
        </div> 
        <div class="right-menu"> 
          <a 
            href="{% url 'vista_carrito' %}" 
            style="text-decoration: none; color: inherit"> 
            <i class="fa-solid fa-cart-shopping"></i> 
            <p 
            id="cart-count" 
              class="count" 
              style=" 
                font-size: 2rem; 
                font-weight: bold; 
                border-radius: 50%; 
                border: 1px solid red; 
                width: 3rem; 
                height: 3rem; 
                text-align: center; 
                position: absolute; 
                top: 8%; 
                background-color: red; 
                color: white; 
                margin-left: 3rem; 
              "> 
              {{cartCount}} 
            </p> 
          </a> 
        </div> 
      </nav> 
      <hr class="menu-line" /> 
    </header> 
    {% block content %} Contenido por defecto. {% endblock %} 
    <script 
      src="https://kit.fontawesome.com/5a8265bcfc.js" 
      crossorigin="anonymous"></script> 
      <script type="text/javascript" src="{% static 'js/carrito.js' %}"></script> 
      <script type="text/javascript"> 
        var user= '{{request.user}}' 
        function getToken(name) { 
          var cookieValue = null; 
          if (document.cookie && document.cookie !== '') { 
            var cookies = document.cookie.split(';'); 
            for(var i = 0; i < cookies.length; i++) { 
              var cookie = cookies[i].trim(); 
              if (cookie.substring(0, name.length + 1) === (name + '=')) { 
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1)); 
                break; 
              } 
            } 
          } 
          return cookieValue 
        } 
        var csrftoken = getToken('csrftoken'); 
      </script> 
  </body> 
</html> 