{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cell Shop</title>
    <link rel="stylesheet" href="{% static '/estilos.css' %}">
    <link rel="icon" href="{% static 'logo/logo.png' %}" type="icono" />
</head>
<body>
    <header>
        <nav class="menu">
            <div class="left-menu">
                <img src="{% static 'logo/logo.png' %}" alt="" class="logo">
            </div>

            <div class="right-menu">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </nav>
        
        <hr class="menu-line">
    </header>

    <main>
        <section class="principal-section">
            {% for item in producto %}
            <div class="card">
            
                <div class="img-container">
                    <img src="{{item.imagen.url}}" alt="Tecno-Camon-30" class="cell-img">
                </div>
                <p class="cell-name">{{item.nombre}}</p>
                <div class="container">
                    <hr class="separation-line">
                    <button type="button" class="card-button">Agregar al carrito</button></a>
                    <div class="container-inferior">
                        <a href="*" target="_blank"><button type="button" class="ver-button">Ver producto</button></a>
                        <p class="price">$ {{item.precio|floatformat:2}}</p>
                    </div>
                </div>
            </div>
            {% endfor %} 
        </section>
    </section>
    
    </main>

    <script src="https://kit.fontawesome.com/5a8265bcfc.js" crossorigin="anonymous"></script>
</body>
</html>