{% extends 'base.html' %}
{% load static %}
{% block title %}Cell Shop{% endblock %}

    {% block content %}
        <section class="principal-section">
        {% for item in producto %}
            <div class="card">
                <div class="img-container">
                    <img src="{{item.imagen.url}}" alt="{{item.nombre}}" class="cell-img">
                </div>
                <p class="cell-name">{{item.nombre}}</p>
                <div class="container">
                    <hr class="separation-line">
                    <button type="button" class="card-button">Agregar al carrito</button></a>
                    <div class="container-inferior">
                        <a href="*" target="_blank"><button type="button" class="ver-button">Ver producto</button></a>
                        <p class="price">$ {{item.precio|floatformat:2}} </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
    {% endblock %}