{% extends 'base.html' %} {% load static %} {% block extra_styles %}
<link rel="stylesheet" href="{% static 'estilos_procesar_compra.css' %}" />
{% endblock %} {% block title %}Comprar{% endblock %} {% block content %}
<button
  class="realizar_compra"
  onclick="location.href='{% url 'vista_inicio' %}'">
  Continuar Comprando
</button>
<h2>Datos del cliente y envio</h2>

<div class="cart-container">
<form method="POST">
    {% csrf_token %}
    <button type="submit" class="realizar_compra">Finalizar compra</button>
</form>
  
    <div class="contenedor-campos">
      <div class="campo">
        <label>Nombre</label>
        <input class="inputs" type="text" placeholder="" required />
      </div>

      <div class="campo">
        <label>Teléfono</label>
        <input class="inputs" type="tel" placeholder="" required />
      </div>

      <div class="campo">
        <label>Correo</label>
        <input class="inputs" type="email" placeholder="" required />
      </div>
      <div class="campo">
        <label>Pais</label>
        <input class="inputs" type="text" placeholder="" required />
      </div>
      <div class="campo">
        <label>Estado</label>
        <input class="inputs" type="text" placeholder="" required />
      </div>
      <div class="campo">
        <label>Ciudad</label>
        <input class="inputs" type="text" placeholder="" required />
      </div>
      <div class="campo">
        <label>Direccion</label>
        <input class="inputs" type="text" placeholder="" required />
      </div>
    </div>
  </form>

  <div class="total_carrito">
    <p class="titulo-total">Total del carrito</p>
    <div class="subtotal">
      <p>Subtotal</p>
      <p id="subtotal">$ {{ total_carrito|floatformat:2 }}</p>
    </div>
    <div class="total_a-pagar">
      <p>Total</p>
      <p id="total">$ {{ total_carrito|floatformat:2 }}</p>
    </div>
    <button class="realizar_compra">Finalizar compra</button>
  </div>
</div>
{% endblock %}
